<div class="main">
  <div class="content"><span></span> </div>
  <h1>My Wishlisted Books List</h1>
  

  <div class="btn-wrapper">
    
    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'">
      List of Books
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'">
      Wishlisted Books
    </button>


  </div>

  <h2>{{books?.length}} <span *ngIf="books?.length === 1; else elseBlock">book</span>
  <ng-template #elseBlock>books</ng-template></h2>

  <ul>
    <li *ngFor="let book of books">
      <book-app  (remove)="remove(book)" [book]="book"></book-app>
    </li>
  </ul>
  <input
    #newBook
    placeholder="Add more books"
    (keyup.enter)="addBook(newBook.value);"
    class="lg-text-input"
    id="addBookInput"
  />

  <button class="btn-primary" (click)="addBook(newBook.value)">Add</button>
</div>